<% layout('boilerplate') %>
    <div class="row bg-light">
        <h2 class="col-6 offset-3">Signup on <%= event %>' event</h2>
        <div class="col-6 offset-3">
            <form method="post" action="/signup" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for "Name" class="form-label">Name</label>
                    <input name="user[name]" class="form-control" required>
                    <div class="valid-feedback">Looking good</div>
                    <div class="invalid-feedback">Please enter valid Name</div>
                </div>

                <div class="mb-3">
                    <label for "roll no." class="form-label">roll no.</label>
                    <input name="user[rollno]." class="form-control" type="number" required>
                    <div class="invalid-feedback">Please enter valid roll no.</div>
                </div>

                <div class="mb-3">
                    <label for "sem/sec" class="form-label">sem/sec</label>
                    <input name="user[semester]" class="form-control" required>
                    <div class="invalid-feedback">Please enter valid sem and sec</div>
                </div>
                <div class="mb-3">
                    <label for "Branch" class="form-label">Branch</label>
                    <input name="user[branch]" class="form-control" required>
                    <div class="invalid-feedback">Please enter valid Branch</div>
                </div>

                <div class="mb-3">
                    <label for "event" class="form-label">event</label>
                    <!-- <input name="user[branch]" class="form-control" required> -->
                    <select name="user[event]" class="form-control">
                        <option value="technical">Technical</option>
                        <option value="dance">Dance</option>
                        <option value="sing">Sing</option>
                        <option value="golang">Golang</option>
                        <option value="python">Python</option>
                        <option value="c#">C#</option>
                        <option value="C++">C++</option>
                        <option value="erlang">Erlang</option>
                      </select>
                </div>

                <div class="mb-3">
                    <label for "contact" class="form-label">Mob/Whatsapp No.</label>
                    <input name="user[contact]" class="form-control" type="number" required>
                    <div class="invalid-feedback">Please enter valid contact number</div>
                </div>
                <div class="mb-3">
                    <label for "email" class="form-label">email</label>
                    <input name="user[email]" class="form-control" type="email" required>
                    <div class="invalid-feedback">Please enter valid email</div>
                </div>

                <div class="mb-3">
                    <label for "password" class="form-label">password</label>
                    <input name="user[password]" class="form-control" type="password" required>
                    <div class="invalid-feedback">Please enter valid password</div>
                </div>
                <button class="btn btn-success">Signup</button>
            </form>    
        </div>
    </div>