<% layout('boilerplate') %>
    <%- include('navbar2.ejs') %>
        <div class="body">
            <div class="box">
                <div class="box1">
                    hey there this is Vishnu Singh
                    <div class="box1-bottom">
                        <a href="/signup" class="signUP ">SIGNUP</a>
                        <a class="demo">REQUEST DEMO</a>
                    </div>
                </div>
                <div class="box2">


                    <!-- creating poll -->
                    <div class="container-poll">
                        <h1 class="poll-question">
                            Are you interested in this event?
                        </h1>
                        <input type="radio" id="yes" name="poll" value="1">
                        <label for="yes"> yes</label><br>
                        <input type="radio" id="no" name="poll" value="0">
                        <label for="no"> no</label> 

                    </div>
                    <img src="https://images.unsplash.com/photo-1492684223066-81342ee5ff30?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZXZlbnR8ZW58MHx8MHx8fDA%3D"
                        alt="events">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="upcoming">
                Upcomig Events
            </div>

            <div class="recent">
                live Event
            </div>
            <div class="recent">
                Recently Event
            </div>
        </div>
        </div>

       