<div class="nav sticky-top">
    <i class="element fa-solid fa-bars"></i>
    <i class="element fa-solid fa-guitar"> Event MG Sys</i>
    <div class="search">
        <i class="element fa-solid fa-magnifying-glass"></i>
        <input type="search" class="element search" placeholder=" Search student, place, company">
    </div>

    <div class="element2">
        <i class="elements1 fa-solid fa-circle-half-stroke"></i>
        <a href="/login" class="elements1">Login </a>
        <a href="/signup" class="elements1">signUp </a>
    </div>
</div>